@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.container1{
    display: grid;
    grid-template-columns: 55% 45%;
    color: var(--cor-da-fonte);
    font-size: 12px;
    font-family: "Jockey One", sans-serif;
    justify-content: space-between;
}

.container1-1 h2{
    color: var(--cor-fonte-titulos);
    font-size: 18px;
}

.container1-2 p{
    font-size: 5px;
}


@media screen and (min-width:1024px){

    .container1 h2{
        font-size: 52px;
    }
    .container1-1 h2{
        font-size: 35px;
    }
    }