@import url("./estilos/header.css");
@import url("./banner")

:root {
    --cor-de-fundo: #606060;
    --cor-da-fonte: #ffffff;
    --cor-fonte-titulos: #00A624;
    --cor-de-fundo-cabecalho: #000000;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(96,96,96,1) 100%);
    height: 100vh;
}