@import url("./estilos/header.css");
@import url()

:root {
    --cor-de-fundo: #606060;
    --cor-da-fonte: #ffffff;
    --cor-fonte-titulos: #00A624;
    --cor-de-fundo-cabecalho: #000000;
}

body{
    background-color: var(--cor-de-fundo);
    height: 100vh;
}